.form {
    max-width: 500px;
    margin: 2rem auto;
    border-width: 4rem;
    border: 1px;
    padding: 2px;
    background-color: inherit;
}

form :hover {
    background-color: whitesmoke;
    transition: 0.9s;
}

body,
html {
    height: 100%;
    background-image: url("../images/image1.jpg");
    background-repeat: no-repeat;
    background-size: 212vh 110vh;
    height: 20vh;
    position: static;
}

h1 {
    text-align: center;
    text-decoration-style: initial;
    text-size-adjust: 20%;
    color: saddlebrown;
}

div {
    padding: 3px;
    display: grid;
}

.text_box {
    color: saddlebrown;
}

.box_ {
    text-align: center;
    text-decoration-style: initial;
    text-size-adjust: 20%;
    color: saddlebrown;
}

input,
textarea {
    display: grid;
    margin: auto;
    width: 19rem;
    height: 2rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic'
}

header {
    height: 13vh;
    background-size: cover;
    background-position: center;
    position: static;
}

ul {
    float: left;
    list-style-type: circle;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: dotted;
    color: saddlebrown;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.3s ease-in;
}

ul li a:hover {
    background-color: saddlebrown;
    color: white;
}

ul li.active a {
    background-color: saddlebrown;
    color: white;
}

.logo img {
    float: left;
    width: 100px;
    height: 150px;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.title {
    position: absolute;
    top: 20%;
    left: 70%;
    font-size: 38px;
}

.Paragraph {
    float: right;
    position: fixed;
    position: absolute;
    top: 100%;
    left: 50%;
    ;
}

.button {
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration-style: none;
    transition: 0.9s ease;
    color: saddlebrown;
}